html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

video, iframe {
    width:  600px;
    height: 440px;
    margin: 5% 0%;
}

/* Navbar */
.logo{
  width: 20%;
}

.navbar{
  padding: 0 15% 0;
  background-color: #A27B5C;
  position: sticky;
  top: 0;
  box-shadow: 2px 2px 2px;
  z-index: 5;
}

.nav-item{
  padding: 0 18px;
}

.navbar-brand{
  font-family: 'Rajdhani', sans-serif;
}

.svk{
  color:#DCD7C9;
  font-size: 30px;
}


/* Header */
.header{
  background-color: #2C3639;
  color: #fff;
  /* position: absolute;
  top:0;
  bottom: 0; */
  padding: 2% 10% 2% 15%;
  text-align: left;
  box-shadow: 2px 2px #888888;
  z-index: 2;
  line-height: 2;
}

.project-name{
  font-family: 'Rajdhani', sans-serif;
  font-size: 3rem;
  margin: 50px auto 10px;
  color: #F0A324
}

.media-container{
  text-align: center;
}

/* Sider */

.sider{
  padding: 10% 10% 0;
}

.about-btn-parent{
  padding: 5% 0 5%;
  position: fixed;
}

.github{
  margin-top: 100px;
}


@media (max-width:990px){
    .header{
      text-align: center;
    }
  .about-btn-parent{
    position: relative;
    padding: 2% 0 5%;
  }

  .github{
    margin-top: 0px;
  }
  video, iframe {
      width:  400px;
  }
}
